<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let items of data">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{items.home_banner_slug}}</ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="gotoDetails(items.home_banner_id)">
      <img [src]="items.home_banner_image_url">
    </ion-card-content>
  </ion-card>


</ion-content>